/* assets/css/styles.css */

  header {
    background: dodgerblue;
    color: #fff;
    padding: 0px 0px;
    text-align: center;
  }
  
  nav {
    background: dodgerblue;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
  }
  
